@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-fixed{
  left: calc(0.75rem);
  right: calc(0.75rem);
}

li{position: relative;}

li::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  transition: .5s ease;
}

li:hover::after{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: #34d334;
}

li a{
  padding: 17px 0;
}

li a:hover, .dropholder a.dropdown:hover::after {
  color: #34d334;
}

.drop{
  display: none;
  width: 100%;
}

.dropholder:hover .drop{
  display: block;
}

.dropholder a.dropdown::after{
  content: '\25BC';
  color: #228b22;
  font-size: 12px;
  margin-left: 5px;
}

.drop ul li:not(:last-of-type) {
  border-bottom: 1px solid #228b22;
}

.drop ul li:hover{border: none;}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
