@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-fixed{
  left: calc(0.75rem);
  right: calc(0.75rem);
}

li{position: relative;}

li::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  transition: .5s ease;
}

li:hover::after{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: #228b22;
}

li a{
  padding: 17px 0;
}

li a:hover, .dropholder a.dropdown:hover::after {
  color: #228b22;
}

.drop{
  display: none;
  width: 100%;
}

.dropholder:hover .drop{
  display: block;
}

.dropholder a.dropdown::after{
  content: '\25BC';
  color: #667185;
  font-size: 12px;
  margin-left: 5px;
}

.drop ul li:not(:last-of-type) {
  border-bottom: 1px solid #228b22;
}

.drop ul li:hover{border: none;}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hoverAnimate{
  transition: all 200ms ease-out;
}

.hoverAnimate:hover{
  backdrop-filter: blur(4px);
  transform: translateY(-0.5rem);
  cursor: pointer;
  outline: 1px solid #228b22;
}

.hoverAnimate:hover .hAnimChild1{
  background:rgba(34, 139, 34, .2);
}

.hoverAnimate:hover .hAnimChild2{
  background: rgb(237, 242, 247);
}

.svg-path, 
.svg-path4,
.svg-path5
{
  fill: #667185;
}

.svg-container:hover .svg-path,
.svg-container:hover .svg-path2,
.svg-container:hover .svg-path3,
.svg-container:hover .svg-path4,
.svg-container:hover .svg-path5{
  fill: #228b22;
}

.svg-hold .svg-path,   
.svg-hold .svg-path4, 
.svg-hold .svg-path5{
  fill: #228b22;
}

.svg-path2,
.svg-path3{
  stroke: #667185;
}
.svg-hold .svg-path2,
.svg-hold .svg-path3{
  stroke: #228b22;
}

input[type="search"] {
  width: 100%; 
  padding: 2px 5px;
  border: none;
  outline: 1px solid #228b22;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input[type="search"]:focus {
  box-shadow: inset 0 0 5px rgb(34, 139, 34); 
}

input[type="search"]::placeholder {
  color: #aaa; 
  opacity: 1; 
}
/* ------------------------------------------------------ANIMATIONS--------------------------------------------------------- */